#!/bin/bash
  cd `dirname $0`
  docker info >/dev/nul 2>&1
  if [ "$?" != "0" ]
  then
    echo start dockerd
    systemctl start docker
  sleep 1
  fi
  sleep 1
  docker inspect {{service_name}} >/dev/nul 2>&1
  if [ "$?" != "0" ]
  then
    docker load -i {{work_dir}}/keepalived.tgz
    docker run -d --restart=always --name {{service_name}} --network host --privileged=true \
      -v /etc/localtime:/etc/localtime:ro \
      -v {{work_dir}}/assets:/container/service/keepalived/assets \
      {{ keepalived_image }} --loglevel debug --copy-service
  fi
