#!/bin/bash
  cd `dirname $0`
  docker info >/dev/nul 2>&1
  if [ "$?" != "0" ]
  then
    echo start dockerd
    systemctl start docker
  sleep 1
  fi
  sleep 1
  docker inspect {{service_name}} >/dev/nul 2>&1
  if [ "$?" != "0" ]
  then
    docker load -i {{work_dir}}/vmauth.tgz
    docker run -d --restart=always --name {{service_name}} --network host \
      -v {{work_dir}}/auth.yml:/etc/auth.yml \
      {{vmauth_image}} --httpListenAddr={{vmauth_Listen}} --loggerTimezone={{vm_logtz}} --loggerFormat={{vm_loggerFormat}} --auth.config=/etc/auth.yml
  fi
